div.headerContent {
	padding-top: 0px;
}

h1.header {
	font-size: 55px;
	font-family: "Proza Libre", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

h2.header {
	font-size: 35px;
	font-family: "Proza Libre", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
