@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

div.sideNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 315px;
	height: 100%;
	background-color: #6cabdd;
	color: white;
}

@media screen and (max-width: 768px) {
	div.sideNav {
		width: 300px;
		transform: translateX(-300px);
	}
}

img.portrait {
	width: 220px;
	border-radius: 110px;
	margin-bottom: 20px;
	margin-top: 60px;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
}

h1.name {
	font-size: 40px;
	font-family: "Proza Libre", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

ul.tabItems {
	margin-top: 50px;
	font-family: "Quicksand", Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	list-style: none;
	padding-inline-start: 0px;
}

ul.tabItems li {
	margin: 20px 0px 20px 0px;
}

ul.tabItems li a {
	text-decoration: none;
	position: relative;
	color: white;
}

li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

div.socialIcons {
	margin-top: 60px;
}

.socialIcon {
	color: #fff;
	width: 50px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}
